body:has(.c-modal) {
  overflow: hidden;
}

.c-modal__overlay {
  content: "";
  display: block;
  position: fixed;
  inset: 0;
  z-index: 8;
  background-color: var(--modal-overlay-bg);
  animation: fade .4s ease-in-out;
}

.c-modal__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--modal-bg);
  padding: $space-32;
  z-index: 9;
  transition: opacity var(--transition-in-out);
  border-radius: var(--radius-md);
  width: 50rem;
  opacity: 1;

  @starting-style {
    opacity: 0;
  }

  @include max-width(md) {
    width: calc(100% - ($space-16 * 2));
    padding: $space-32 $space-16;
  }
}

.c-modal__close {
  position: absolute;
  top: $space-16;
  right: $space-16;
  color: var(--text-default);

  @include max-width(md) {
    top: $space-10;
    right: $space-10;
  }
}