.c-tasks-column {
  display: flex;
  gap: $space-8;
  position: relative;

  @include min-width(md) {
    margin: 0 calc($space-24 * -1);
    padding: 0 $space-24;
    overflow: auto;
  }

  @include max-width(md) {
    flex-direction: column;
  }
}

.c-tasks-column__on-drag {
  opacity: .5;
}

.c-tasks-column__col {
  position: relative;
  //background-color: var(--table-col-bg);
  border: 1px solid var(--table-col-border);
  padding: $space-16;
  border-radius: var(--radius-lg);
  height: fit-content;
  min-width: 33.2rem;
  width: auto;

  @include max-width(md) {
    min-width: auto;
    width: 100%;
  }
}

.c-tasks-column__col-intro {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  gap: $space-8;
}

.c-tasks-column__col-intro-content {
  display: flex;  
  align-items: center;
  gap: $space-8;
}

.c-tasks-column__col-edit-name {
  display: flex;
  align-items: center;
  gap: $space-8;
}

.c-tasks-column__col-drag {
  display: flex;
  cursor: grab;
}

.c-tasks-column__cards {
  display: flex;
  flex-direction: column;
  gap: $space-10;
}

.c-tasks-column__col-action {
  display: flex;
  flex-direction: column;
  gap: $space-10;
}

.c-tasks-column__new-task {
  border-top: 1px solid black;
  padding-top: $space-16;
  display: flex;
  flex-direction: column;
  gap: $space-8;
}

.c-tasks-column__new-task-form {
  display: flex;
  flex-direction: column;
  gap: $space-16;
}

.c-tasks-column__new-task-action {
  margin-top: $space-16;

  & > div {
    display: flex;
    align-items: center;
    gap: $space-8;
  }
}

.c-tasks-column__col-remove {
  display: flex;
  align-items: center;
  gap: $space-4;
  color: var(--table-col-remove);
}