.layout {
  display: grid;
  grid-template-areas: 
          "navbar content"
          "navbar footer";
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr max-content;
  min-height: 100vh;
}

.layout__content {
  width: 100%;
  grid-area: content;
  overflow: hidden;
}