.c-tasks {
  display: grid;
  grid-template-columns: 1fr 0px;
  height: 100%;
  width: 100%;
  transition: grid-template-columns var(--transition-in-out);

  &--open {
    grid-template-columns: 1fr 30rem;
  }
}

.c-tasks__content {
  overflow: hidden;
  padding: $space-24;
}

.c-tasks__intro {
  margin-bottom: $space-24;
}

.c-tasks__new-col {
  max-width: 50rem;
}

.c-tasks__new-col form {
  display: flex;
  flex-direction: column;
  gap: $space-8;
  margin-bottom: $space-8;
  
  div {
    display: flex;
    gap: $space-8;
  }
}

.c-tasks__task-infos {
  background-color: silver;
  padding: $space-16;
}