.c-task-card {
  padding: $space-16;
  border-radius: var(--radius-sm);
  position: relative;
  z-index: 0;
  width: 100%;
  height: fit-content;

  @include min-width(md) {
    max-width: 30rem;
    width: 100%;
  }

  &--primary {
    background-color: var(--task-card-bg);
  }

  &--secondary {
    background-color: var(--task-card-secondary-bg);
  }
}

.c-task-card__intro {
  display: flex;
  justify-content: space-between;
  gap: $space-8;
}

.c-task-card__label {
  text-decoration: underline;
  cursor: pointer;
}

.c-task-card__status {
  border: 1px solid black;
  border-radius: var(--radius-full);
  padding: .5rem $space-10;
}

.c-task-card__infos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: $space-8;
  margin-top: $space-16;

  span {
    display: flex;
  }

  span svg {
    width: 2rem;
    height: 2rem;
  }
}

.c-task-card__cover {
  width: 2rem;
  height: 2rem;
}

.c-task-card__date {
  display: flex;
  align-items: center;
  gap: $space-4;

  & svg {
    width: 2rem;
    height: 2rem;
  }
}