.c-task-infos {
  &--open {
    .c-task-infos__element {
      right: 0;
    }

    .c-task-infos__overlay {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.c-task-infos__overlay {
  position: fixed;
  background-color: var(--modal-overlay-bg);
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-in-out);
  z-index: 0;

  @include max-width(md) {
    display: none;
  }
}

.c-task-infos__element {
  position: fixed;
  top: 0;
  z-index: 8;
  transition: right var(--transition-in-out);
  background-color: var(--task-infos-bg);
  border-left: 1px solid var(--task-infos-border);
  padding: $space-24;
  padding: $space-16;
  overflow: auto;
  z-index: 1;

  @include min-width(md) {
    height: 100vh;
    width: 40rem;
    right: -40rem;
  }

  @include max-width(md) {
    right: -100%;
    width: 100%;
    height: 100%;
  }
}

.c-task-infos__container {
  margin-top: $space-16;
}

.c-task-infos__content {
  display: flex;
  flex-direction: column;
  gap: $space-16;
}

.c-task-infos__intro {
  display: flex;
  gap: $space-8;
}

.c-task-infos__short-infos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: $space-8;
}

.c-task-infos__time-container {
  display: flex;
  align-items: center;
  gap: $space-8;
}

.c-task-infos__date {
  display: flex;
  align-items: center;
  gap: $space-4;

  & svg {
    width: 2rem;
    height: 2rem;
  }
}

.c-task-infos__description {
  margin-top: $space-24;
}

.c-task-infos__past-time {
  margin-top: $space-24;
  display: flex;
  flex-direction: column;
  gap: $space-16;
}

.c-task-infos__past-time-form {
  display: flex;
  flex-direction: column;
  gap: $space-10;
}

.c-task-infos__past-time-actions {
  display: flex;
  align-items: center;
  gap: $space-8;
}

.c-task-infos__files {
  margin-top: $space-24;

  ul {
    display: flex;
    flex-direction: column;
    gap: $space-12;
  }

  li, a, button {
    display: flex;
  }

  li {
    gap: $space-8;

    a {
      text-decoration: underline;
      word-break: break-all;
    }

    svg {
      min-width: $space-20;
      width: $space-20;
      height: $space-20;
    }
  }
}

.c-task-infos__remove {
  border-top: 1px solid var(--task-infos-border);
  margin-top: $space-24;
  padding-top: $space-24;
}