.c-files-field__title {
  margin-bottom: $space-10;
}

.c-files-field__field {
  position: relative;
  width: 100%;
  height: 10rem;
  border-radius: var(--radius-sm);
  border: 1px solid var(--input-border);
  display: flex;
  align-items: center;
  justify-content: center;

  label {
    display: flex;
    align-items: center;
    gap: $space-8;
  }

  input {
    position: absolute;
    inset: 0;
    opacity: 0;
  }

  &--over {
    background-color: var(--input-file-zone-over);
  }
}

.c-files-field__accept {
  margin-top: $space-10;
}

.c-files-field__list {
  margin-top: $space-16;
  display: flex;
  flex-direction: column;
  gap: $space-8;

  li {
    display: flex;
    align-items: center;
    gap: $space-8;
  }

  img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
  }

  svg {
    width: $space-16;
    height: $space-16;
  }
}