.c-toggle-buttons {
  display: flex;
  gap: $space-8;
  flex-wrap: wrap;
}

.c-toggle-buttons__button {
  width: fit-content;
  position: relative;

  label {
    border: 1px solid var(--toggle-buttons-border);
    border-radius: var(--radius-full);
    width: fit-content;
    padding: .5rem $space-10;
    opacity: .5;
    transition:
      background-color var(--transition-in-out),
      color var(--transition-in-out),
      border-color var(--transition-in-out),
      opacity var(--transition-in-out);
  }

  & input {
    position: absolute;
    opacity: 0;
    inset: 0;
    cursor: pointer;
  }

  &:has(input:checked) label {
    opacity: 1;
    background-color: var(--toggle-buttons-active-bg);
    color: var(--text-default);
    border-color: var(--toggle-buttons-active-border);
  }
}