.c-task-card {
  padding: $space-8;
  background-color: var(--table-card-bg);
  border-radius: var(--radius-sm);
}

.c-task-card__intro {
  display: flex;
  justify-content: space-between;
  gap: $space-8;
}

.c-task-card__actions {
  display: flex;
  align-items: center;
  gap: $space-4;
}