.c-dashboard {
  padding: $space-24;

  @include max-width(md) {
    padding: $space-32 $space-16 $space-16 $space-16;
  }
}

.c-dashboard__title span {
  font-style: italic;
}

.c-dashboard__tasks-today {
  display: flex;
  gap: $space-10;
  flex-wrap: wrap;
}