.c-field {
  display: flex;
  flex-direction: column;
  gap: $space-10;
}

.c-field__input {
  border: 0;
  width: 100%;
  padding: 1rem;
  border-radius: var(--radius-sm);
  outline: 0;
  border: 1px solid var(--input-border);
  transition: border-color var(--transition-in-out);
  background-color: var(--input-bg);

  &:focus {
    border-color: var(--input-border-focus);
  }
}