.c-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $space-4;
  height: auto;
  width: fit-content;
  border: 0;
  color: var(--button-text);
  transition: background-color var(--transition-in-out), color var(--transition-in-out);

  &:not(&--link) {
    padding: 1rem;
    border-radius: var(--radius-sm);
    background-color: var(--button-bg);

    &:hover {
      background-color: var(--button-bg-hover);
      color: var(--button-text-hover); 
    }
  }

  &--link {
    color: var(--button-link-text);
  }

  & svg {
    width: $space-16;
    height: $space-16;
  }
}

.c-button--full {
  width: 100%;
}