:root {
  // Definition (color)
  --color-primary-0: rgba(0, 0, 0, 1);
  --color-primary-0-30: rgba(0, 0, 0, .3);

  --color-neutral-0: rgba(255, 255, 255, 1);
  --color-neutral-0-50: rgba(255, 255, 255, .5);
  --color-neutral-1: #252322;
  --color-neutral-1-30: rgba(37, 35, 34, .3);
  --color-neutral-2: #fbfaf8;
  --color-neutral-3: #dfdfdf;

  --color-orange: #fbbb3a;

  --color-green: #319a56;
  --color-green-light: #c4f3e5;

  // Assignation (components)

  --home-bg: var(--color-neutral-2);
  --home-card-bg: var(--color-neutral-0);
  --home-card-shadow: var(--color-neutral-3);

  --navbar-bg: var(--color-neutral-1);
  --navbar-link: var(--color-neutral-0-50);
  --navbar-link-active: var(--text-white);

  --footer-bg: var(--color-neutral-2);
  --footer-border: var(--color-neutral-3);

  --text-default: var(--color-neutral-1);
  --text-white: var(--color-neutral-0);
  --text-primary: var(--color-primary);

  --input-bg: var(--color-neutral-0);
  --input-border: var(--color-neutral-3);
  --input-border-focus: var(--color-neutral-1);
  --input-file-button-bg: var(--color-neutral-3);

  --table-col-bg: var(--color-neutral-0);
  --table-col-border: var(--color-neutral-3);

  --modal-overlay-bg: var(--color-primary-0-30);
  --modal-bg: var(--color-neutral-0);

  --dropdown-bg: var(--color-neutral-1);

  --task-infos-bg: var(--color-neutral-0);
  --task-infos-border: var(--color-neutral-3);

  --toggle-buttons-border: var(--color-neutral-1);
  --toggle-buttons-active-border: var(--color-neutral-1);
  --toggle-buttons-active-bg: var(--color-neutral-1);

  --task-card-status-border: var(--color-neutral-1);

  --tasks-filters-bg: var(--color-neutral-2);
  --tasks-filters-border: var(--color-neutral-3);

  --info-bg: #cceef9;
  --info-icon: #269dbc;

  .c-button--dark {
    --button-bg: var(--color-neutral-1);
    --button-bg-hover: transparent;
    --button-text: var(--text-white);
    --button-text-hover: var(--text-default);
    --button-link-text:var(--text-default);
    --button-border-hover: var(--color-neutral-1);
    --button-border: var(--color-neutral-1);
  }
  .c-button--light {
    --button-bg: var(--color-neutral-0);
    --button-bg-hover: transparent;
    --button-text: var(--text-default);
    --button-text-hover: var(--text-white);
    --button-link-text:var(--text-white);
    --button-border-hover: var(--color-neutral-0);
    --button-border: var(--color-neutral-0);
  }
  .c-button--warning {
    --button-bg: var(--color-orange);
    --button-bg-hover: transparent;
    --button-text: var(--text-default);
    --button-text-hover: var(--color-orange);
    --button-link-text: var(--color-orange);
    --button-border-hover: var(--color-orange);
    --button-border: var(--color-orange);
  }

  .c-priority--low {
    --priority-tag: #416fc2;
    --priority-tag-text: var(--text-white);
  }
  .c-priority--normal {
    --priority-tag: #269dbc;
    --priority-tag-text: var(--text-white);
  }
  .c-priority--high {
    --priority-tag: #cc6f13;
    --priority-tag-text: var(--text-white);
  }
  .c-priority--top {
    --priority-tag: #dc7173;
    --priority-tag-text: var(--text-white);
  }


  .c-task-card--low {
    --task-card-bg: #dde0f6;
    --task-card-bg-2: #e3edfd;
  }
  .c-task-card--normal {
    --task-card-bg: #cceef9;
    --task-card-bg-2: #def3f8;
  }
  .c-task-card--high {
    --task-card-bg: #f9e4cc;
    --task-card-bg-2: #fbeedf;
  }
  .c-task-card--top {
    --task-card-bg: #f9cdcd;
    --task-card-bg-2: #f8e0de;
  }
}