.u-mb-0 {
  margin-bottom: 0;
}

.u-mb-4 {
  margin-bottom: $space-4;
}

.u-mb-8 {
  margin-bottom: $space-8;
}

.u-mb-12 {
  margin-bottom: $space-12;
}

.u-mb-16 {
  margin-bottom: $space-16;
}

.u-mb-24 {
  margin-bottom: $space-24;
}

.u-mb-32 {
  margin-bottom: $space-32;
}