// Settings
@import
"./01_settings/settings.breakpoints",
"./01_settings/settings.colors",
"./01_settings/settings.media-queries",
"./01_settings/settings.spacing",
"./01_settings/settings.fonts",
"./01_settings/settings.transition",
"./01_settings/settings.typography",
"./01_settings/settings.radius"
;

// Generics
@import
"./02_generics/generics.box-sizing",
"./02_generics/generics.reduced-motion",
"./02_generics/generics.reset"
;

// Components
@import
"./03_components/components.navbar",
"./03_components/components.button",
"./03_components/components.footer",
"./03_components/components.layout",
"./03_components/components.home",
"./03_components/components.dashboard",
"./03_components/components.field",
"./03_components/components.heading",
"./03_components/components.text",
"./03_components/components.tasks-column",
"./03_components/components.tasks",
"./03_components/components.modal",
"./03_components/components.dropdown",
"./03_components/components.task-card",
"./03_components/components.select",
"./03_components/components.priority",
"./03_components/components.task-infos",
"./03_components/components.toggle-buttons",
"./03_components/components.info",
"./03_components/components.not-found",
"./03_components/components.tag",
"./03_components/components.task-form",
"./03_components/components.chrono",
"./03_components/components.files-field"
;

// Utilities
@import
"./04_utilities/utilities.colors",
"./04_utilities/utilities.font-weight",
"./04_utilities/utilities.hidden",
"./04_utilities/utilities.margin",
"./04_utilities/utilities.overflow",
"./04_utilities/utilities.sr",
"./04_utilities/utilities.transform",
"./04_utilities/utilities.alignment"
;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html, body, * {
  margin: 0;
  box-sizing: border-box;
}